page-option-settings {

}
.optlabel{
    font-style: italic;
    color: deeppink;
}
.optbutton{
    margin-left: 70%;
}
.optlabel{
    margin-bottom: 0px;
    font-style: italic;
    color: deeppink;
    font-weight: bold;
    font-size: 16px;
}